<div class="container w-75 mx-auto">
    <div class="row">
        
        <div class="col">
            <h3 class="text-center border h5 m-0 pt-3 pb-3 bg-light">Libre</h3>
            <div class="contenedor border pb-3 bg-white m-0">
                <p class="h3 text-secondary text-center mt-4 mb-4"><span class="fw-bold text-dark">$0</span> / mes</p>
                <p class="text-center">10 usuarios incluidos</p>
                <p class="text-center">2 GB de almacenamiento</p>
                <p class="text-center">Soporte de correo electrónico</p>
                <p class="text-center">Acceso al centro de ayuda</p>
                <div class="contenedor text-center">
                    <button class="btn btn-outline-primary mt-2">Registrate gratis</button>
                    
                </div>
            </div>
           
            
        </div>

        <div class="col">
            <h3 class="text-center border h5 m-0 pt-3 pb-3 bg-light">Pro</h3>
            <div class="contenedor border pb-3 bg-white m-0">
                <p class="h3 text-secondary text-center mt-4 mb-4"><span class="fw-bold text-dark">$15</span> / mes</p>
                <p class="text-center">20 usuarios incluidos</p>
                <p class="text-center">10 GB de almacenamiento</p>
                <p class="text-center">Soporte prioritario por correo electrónico</p>
                <p class="text-center">Acceso al centro de ayuda</p>
                <div class="contenedor text-center">
                <button class="btn btn-outline-primary mt-2">Empezar</button>
            </div>
            </div>
        </div>

        <div class="col">
            <h3 class="text-center border h5 m-0 pt-3 pb-3 bg-light">Empresa</h3>
            <div class="contenedor border pb-3 bg-white m-0">
                <p class="h3 text-secondary text-center mt-4 mb-4"><span class="fw-bold text-dark">$29</span> / mes</p>
                <p class="text-center">30 usuarios incluidos</p>
                <p class="text-center">15 GB de almacenamiento</p>
                <p class="text-center">Soporte telefónico y por correo electrónico</p>
                <p class="text-center">Acceso al centro de ayuda</p>
            <div class="contenedor text-center">
                <button class="btn btn-outline-primary mt-2">Contáctenos</button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="clearfix"></div> -->
